// .cardBG {
//   background-color: #151a28;
//   opacity: 0.9;
// }

.indi_Num {
  color: #10f7f2;
  font-weight: 700;
}

.ant-statistic-content-value:first-child {
  color: #10f7f2;
  font-weight: 700;
}

.ant-statistic-content-suffix {
  color: white;
}
